:root {
    --color-light-green: #4C858B;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-primary: #E33E54;
    --color-orange: #EA6628;
    --color-green: #215359;
}


@mixin mobile {
    @media (max-width: 320px) {
      @content
    }
}
@mixin tablet {
    @media (max-width: 768px) {
      @content
    }
}
@mixin laptop {
    @media (max-width: 1024px) {
        @content
    }
}
@mixin desktop {
    @media (max-width: 1248px) {
        @content
    }
}