section.benefits
    .container
        h2.title-2.title-border Почему Дымоход.ру?
        p.benefits__desc В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 
        .benefits__items
            .benefits__card
                img.benefits__card-img(src="../../assets/images/benefits/benefits-card.svg", alt="benefits")
                h3.title-3 Большой гарантийный срок
                p.benefits__desc Крепёж, стыковка элементов – #[span.red-text 10 лет] Сквозная коррозия труб – #[span.red-text 5 лет] Гидроизоляция – #[span.red-text 3 года]
            .benefits__card
                img.benefits__card-img(src="../../assets/images/benefits/benefits-card2.svg", alt="benefits")
                h3.title-3 Помощь в покупке агрегата 
                p.benefits__desc (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
            .benefits__card
                img.benefits__card-img(src="../../assets/images/benefits/benefits-card3.svg", alt="benefits")
                h3.title-3 Реальные отзывы клиентов
                p.benefits__desc Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.
