section.info
    .container
        .info__row
            .info__right
                h2.title-2 Lorem ipsum dolor sit amet
                h2.title-2.title-2--red Lorem ipsum
                ul.info__list
                    li.info__list-item Доступные цены
                    li.info__list-item Собственное производсвто  Дымоходов
                    li.info__list-item Выполнение необходимых работ, связанных с установкой камина, печи, котла
                    li.info__list-item Гарантия (от трёх до десяти лет)
                    li.info__list-item Работаем чисто, аккуратно, убираем за собой, не сквернословим
                    li.info__list-item Только русские квалифицированные специалисты
                    li.info__list-item Устанавливаем любые дымоходы всех производителей
            .info__left
                img(src="../../assets/images/infoImg.png", alt="info-img")
