section.mounting
    .container
        h1.title-1 Монтаж дымоходов
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная 
                li.breadcrumbs__item
                    a.breadcrumbs__link.breadcrumbs__link--active(href="#") Монтаж дымоходов
        .mounting__description В #[a(href="#").red-text Дымоход.ру]  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .