section.photos-works
    .container
        h2.title-section Фото выполненных работ
        p.photos-works__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .photos-works__items 
            .photos-works__item
                img(src="./assets/images/photos-works/photos-works-1.jpg", alt="photo" width='282' height='262')
            .photos-works__item
                img(src="./assets/images/photos-works/photos-works-2.jpg", alt="photo" width='282' height='262')
            .photos-works__item
                img(src="./assets/images/photos-works/photos-works-3.jpg", alt="photo" width='282' height='262')
            .photos-works__item
                img(src="./assets/images/photos-works/photos-works-4.jpg", alt="photo" width='282' height='262')
            .photos-works__item
                img(src="./assets/images/photos-works/photos-works-5.jpg", alt="photo" width='282' height='262')
            .photos-works__item
                img(src="./assets/images/photos-works/photos-works-6.jpg", alt="photo" width='282' height='262')
            .photos-works__item
                img(src="./assets/images/photos-works/photos-works-7.jpg", alt="photo" width='282' height='262')
            .photos-works__item
                img(src="./assets/images/photos-works/photos-works-8.jpg", alt="photo" width='282' height='262')