section.work-process
    .container
        h2.title-section Процесс выполнения монтажа
        ol.work-process__list
            li.work-process__item Рассчёт предварительной заявки
            li.work-process__item Замер объекта нашим инженером
            li.work-process__item Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 
            li.work-process__item Изготовление Дымохода, покраска (если требуется)
            li.work-process__item Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
            li.work-process__item Гарантийное обслуживание по соответствующем сроку