.title-2 {
    position: relative;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.5;

    &.title-border::before {
        content: "";
        display: block;
        width: 74px;
        height: 5px;
        position: absolute;
        top: -13px;
        left: 0;
        background-color: var(--color-red);
    }
}

