.benefits {
    padding-bottom: 98px;

    .title-2 {
        margin-bottom: 50px;
    }

    &__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.8;
        margin-bottom: 50px;
    }

    &__items{
        display: flex;

        & > * + * {
            margin-left: 30px;
        }
    }

    &__card{
        max-width: 387px;

        &-img {
            margin-bottom: 32px;
        }

        .title-3 {
            margin-bottom: 10px;
        }

        &-desc {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.8;
        }
    }
}