.info {
    padding-bottom: 65px;

    .title-2 {
        font-weight: 600;
        font-size: 40px;
        line-height: 1.6;

        @include tablet {
            font-size: 18px;
            line-height: 2;
        }
    }

    .title-2--red {
        font-weight: 800;
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 54px;
        color: var(--color-red);
        text-transform: uppercase;

        @include tablet {
            font-size: 30px;
            margin-bottom: 17px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        @include desktop {
            display: none;
        }
    }

    &__list {
        padding-left: 50px;

        @include tablet {
            padding-left: 16px;
        }

        & > * + * {
            margin-top: 22px;

        }

        &-item {
            position: relative; 
            padding-left: 26px;
            line-height: 1.7;
        }

        &-item::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(50%);
            display: inline-block;
            width: 9px;
            height: 9px;
            border-radius: 100%;
            background:var(--color-orange);
        }
    }
}



