.installation-video {
    padding-bottom: 27px;

    @include tablet {
        padding-bottom: 48px;
    }

    .title-section {
        margin-bottom: 58px;

        @include tablet {
            margin-bottom: 28px;
        }
    }
    &__desc {
        margin-bottom: 14px;
    }
}

.video-block {
    position: relative;
    height: 490px;
    background-repeat: no-repeat;
    background-position: center top 32px;
    background-image: url(../../assets/images/bg-video.png);

    @include laptop {
        background-image: none;
        display: flex;
        justify-content: center;
    }

    @include tablet {
        display: unset;
    }

    &__img {
        max-width: 770px;
        height: auto;
        position: absolute;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include laptop {
            position: unset;
            transform: translate(0);
        }
    }
}