.photos-works{
    padding-top: 100px;
    padding-bottom: 136px;
    
    .title-section {
        margin-bottom: 66px;
    }
    &__desc {
        margin-bottom: 48px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;

        @include desktop {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item {
        position: relative;
        
        &::before, &::after {
            content: '';
            position: absolute;
            display: block;
            width: 50px;
            height: 50px;
        }

        &::before{
            bottom: 0;
            left: 0;
            border-left: 4px solid var(--color-light-green);
            border-bottom: 4px solid var(--color-light-green);
        }
        &::after{
            top: 0;
            right: 0;
            border-top: 4px solid var(--color-light-green);
            border-right: 4px solid var(--color-light-green);
        }
    }

}



