.work-process {
    padding-bottom: 88px;

     .title-section {
        margin-bottom: 51px;
        @include tablet {
            margin-bottom: 18px;
        }
    }

    &__list{
        counter-reset: my-awesome-counter;
        column-count: 2;

        @include tablet {
            column-count: 1;
        }

        & > * + * {
            margin-top: 25px;

            @include tablet {
                margin-bottom: 15px;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        counter-increment: my-awesome-counter;
        font-weight: 400;
        font-size: 16px;
        line-height: 1 ;

        @include tablet {
            font-size: 14px;
            line-height: 26px;
        }

        &::before {
            content: counter(my-awesome-counter);
            color: var(--color-red);
            width: 45px;
            font-weight: 700;
            font-size: 70px;
            opacity: 0.2;
            margin-right: 36px;
            line-height: 1;

            @include tablet {
                width: 30px;
                font-size: 50px;
                line-height: 60px;
                margin-right: 18px;
            }
        }
    }
}
