.work-process {
    padding-bottom: 100px;

     .title-section {
        margin-bottom: 51px;
        @include tablet {
            margin-bottom: 18px;
        }
    }

    @include tablet {
        padding-bottom: 44px;
    }

    &__list{
        counter-reset: my-awesome-counter;
        column-count: 2;

        @include tablet {
            column-count: 1;
        }

        & > * + * {
            margin-top: 23px;

            @include tablet {
                margin-top: 9px;
                margin-bottom: 13px;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        counter-increment: my-awesome-counter;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9 ;

        @include tablet {
            font-size: 14px;
        }

        &::before {
            content: counter(my-awesome-counter);
            color: var(--color-primary);
            width: 45px;
            font-weight: 700;
            font-size: 70px;
            opacity: 0.2;
            margin-right: 36px;
            line-height: 1;

            @include tablet {
                width: 30px;
                font-size: 50px;
                line-height: 60px;
                margin-right: 18px;
            }
        }
    }
}
