extends ../layouts/default

block variables

block content
    include ../sections/mounting.pug
    include ../sections/info.pug
    include ../sections/work-process.pug
    include ../sections/benefits.pug
    include ../sections/consultation.pug
    include ../sections/installation-video.pug
    include ../sections/photos-works.pug

